@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    scroll-behavior: smooth !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.range-input {
  appearance: none;
  background-color: white;
  height: 1px;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
  width: 12rem;
}

.range-input::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.smooth-scroll {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth !important;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  /* For Firefox */
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100%);
}

.smooth-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.smooth-scroll {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer and Edge */
.smooth-scroll {
  -ms-overflow-style: none;
}

.section {

  /* transition: filter 0.5s ease; */
  position: relative;
  overflow: hidden;
  position: sticky;
  top: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.1), 0 -1px 10px rgba(0,0,0,0.25);


}



.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: inherit;
  transition: z-index 0.3s ease-in-out;
  filter: blur(0); /* Initially no blur */

}

.section.active::before {
  z-index: -2; }

.section.inactive::before {
  z-index: -1;
}


.dot {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 8px;
  cursor: pointer;
}
.dot-container {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot.active {
  background-color: lightgray;
  width: 8px;
  height: 8px;
}


.section.blur::before {
  filter: blur(5px); /* Apply blur when section is blurred */
}
